@model IEnumerable<SistemaProyectos.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
    var roles = ViewBag.Roles as List<string>;
}

@section Styles {
    <style>
        body {
            background-color: #E6E6FA;
        }
    </style>
}

<h1>@ViewData["Title"]</h1>

<hr />

<div class="row">
    <div class="col-3 text-start">
        <label class="text-start d-block ">Filtrar por equipo</label>
        <partial name="Parcial/_FiltroEquipo" model="ViewBag.EquipoSeleccionado" />
    </div>

    <div class="col-3 text-center">
        <label class="text-start d-block">Filtrar por rol</label>
        <partial name="Parcial/_FiltroRol" model="@ViewBag.RolSeleccionado" />
    </div>

    <div class="col-3 text-center">
        <label class="text-start d-block">Búsqueda por nombre completo</label>
        <partial name="Parcial/_Busqueda" model="ViewBag.Busqueda"/>
    </div>

    <div class="col-3 d-flex justify-content-center align-items-center">
        <a asp-action="Index" class="btn btn-secondary">Limpiar filtros</a>
    </div>
</div>
<hr />
<div class="row align-content-lg-end">
    <p>Total de Usuario: <strong>@ViewBag.TotalRegistros</strong></p>
</div>

<div class="row">
    <div class="col-10">
        <table id="tabla" class="table table-bordered table-hover" border="1">
            <thead class="text-primary table-primary">
                <tr class="align-middle">
                    <th>
                        Nombre del Usuario
                    </th>
                    <th>
                        Nombre Completo
                    </th>
                    <th>
                        Correo
                    </th>
                    <th>
                        Rol
                    </th>
                    <th>
                        Fecha de Registro
                    </th>
                </tr>
            </thead>
            <tbody class="">
                @foreach (var item in Model)
                {
                    <tr onclick="obtenerIDCambiarColor(@item.UsuarioID, this)" class="align-middle">
                        <td style="background-color: lightgrey">
                            @Html.DisplayFor(modelItem => item.NombreUsuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @{
                                string color;
                                switch (item.Rol)
                                {
                                    case "Empleado":
                                        color = "success";
                                        break;

                                    case "Administrador":
                                        color = "warning";
                                        break;
                                    default:
                                        color = "light";
                                        break;
                                }

                            }
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <span class="rounded-pill p-2 bg-@(color) col-12 text-center">@Html.DisplayFor(modelItem => item.Rol)</span>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaRegistro)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-2 text-center">
        <div>
            <a asp-action="Create" class="btn btn-success" style="width: 120px; height: 40px;">
                <i class="fa-solid fa-circle-plus"></i>&nbsp;Crear
            </a>
        </div>
        <div>
            <partial name="Parcial/_Crud" />
        </div>
    </div>
</div>


<div class="row">
    <nav aria-label="Paginación de Usuarios">
        <ul class="pagination justify-content-center">


            <li class="page-item @(ViewBag.PaginaActual == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.PaginaActual - 1)">&laquo;</a>
            </li>

            @for (int i = ViewBag.PaginaInicio; i <= ViewBag.PaginaFin; i++)
            {
                <li class="page-item @(i == ViewBag.PaginaActual ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }

            <li class="page-item @(ViewBag.PaginaActual == ViewBag.TotalPaginas ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.PaginaActual + 1)">&raquo;</a>
            </li>

        </ul>
    </nav>
</div>


<script>

    function obtenerIDCambiarColor(idSeleccionado, fila) {
        const filas = document
            .getElementById("tabla")
            .getElementsByTagName("tbody")[0]
            .getElementsByTagName("tr");

        // Quitar selección previa
        for (let i = 0; i < filas.length; i++) {
            filas[i].classList.remove("table-active");
        }

        // Marcar nueva fila con estilo Bootstrap
        fila.classList.add("table-active");

        // Actualizar botones
        document.getElementById("btnEditar").href = `/Usuarios/Edit/${idSeleccionado}`;
        document.getElementById("btnDetalles").href = `/Usuarios/Details/${idSeleccionado}`;
        document.getElementById("btnEliminar").href = `/Usuarios/Delete/${idSeleccionado}`;
    }

</script>